.contacts {
  background-color: map-get($map:$bg, $key:secondary);
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.06);

  &__wrapper {
    padding-top: 120px;
    padding-bottom: 86px;
  }

  &__main {
    background-color: map-get($map:$bg, $key:light);
    box-shadow: map-get($map:$contacts, $key:box-shadow);
    border-radius: 10px;
    overflow: hidden;
  }

  &__map {
    min-height: 275px;
    background: url("../images/map.jpg") 50% 50% no-repeat; // fallback
    background-size: cover;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    padding: 35px 20px 28px;
  }

  &__col {
    flex: initial;
    margin-right: 8.6%;

    &:last-child {
      margin-right: 0;
    }

    &_address {
      max-width: 191px;
    }

    &_details {
      flex: auto;
      max-width: 380px;
      margin-bottom: -7px;
    }

    &_ml-auto {
      margin-left: auto;
    }
  }

  &__sub-row {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;

    .contacts__item {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__item {
    margin-bottom: 7px;

    .note {
      text-transform: none;
      letter-spacing: normal;
    }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: $font-weight-regular;
    line-height: 1;
    color: map-get($map:$color, $key:remark);
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  address {
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    color: map-get($map:$color, $key:highlight);
  }

  &__button {
    .button__content {
      min-width: 338px;
    }
  }

  &__side {
    padding-top: 45px;

    p {
      margin: 22px 0;
      font-size: 12px;
      line-height: 1.5;
    }
  }
}

@include do($xl) {
  .contacts {
    &__wrapper {
      padding-top: 60px;
      padding-bottom: 23px;
    }

    &__col {
      margin-right: 30px;
    }

    &__side {
      padding-top: 23px;
    }
  }
}


@include do(1000px) {
  .contacts {
    &__row {
      flex-wrap: wrap;
      padding-bottom: 35px;
    }

    &__col {
      margin-right: 90px;
      margin-bottom: 30px;

      &:last-child {
        margin-right: auto;
      }

      &_ml-auto {
        margin: 0 auto;
      }
    }
  }
}

@include do($md) {
  .contacts {
    &__col {
      margin-right: 45px;
    }
  }
}

@include do(688px) {
  .contacts {
    &__wrapper {
      padding-top: 50px;
      padding-bottom: 40px;
    }

    &__main {
      border-radius: 10px 10px 0 10px;
    }

    &__row {
      position: relative;
      padding-bottom: 60px;
      display: block;
    }

    &__col {
      margin-right: 0;
    }

    &__item {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 15px;
      }
    }

    &__sub-row {
      display: block;
    }

    &__button {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;

      .button__content {
        min-width: auto;
      }
    }

    &__side {
      padding-top: 18px;
    }
  }
}
