.footer {
  background-color: map-get($map:$bg, $key:dark);

  &__wrapper {
    position: relative;
    padding-top: 60px;
    padding-bottom: 74px;

    color: map-get($map:$color, $key:remark);
  }

  &__logo {
    position: absolute;
    top: 47px;
    right: 30px;
  }

  &__navigation {
    max-width: 597px;
    margin-bottom: 57px;
  }

  a.link {
    font-size: inherit;
    line-height: inherit;
  }

  &__col p {
    color: inherit;
    text-decoration: none;
  }

  p {
    margin-top: 0;
    margin-bottom: 22px;

    span {
      color: map-get($map:$color, $key:focus);
    }
  }

  p + p {
    margin-bottom: 17px;
  }

  strong {
    color: map-get($map:$color, $key:warning);
    font-weight: $font-weight-regular;
  }

  &__img {
    display: block;
    margin-top: 39px;
    margin-bottom: 36px;
    max-width: 100%;
    height: auto;
  }

  &__row {
    display: flex;
  }

  &__col {
    margin-right: 6.3%;
    color: map-get($map:$color, $key:light);
    font-size: 16px;
    line-height: 1.5;

    &_flex-initial {
      flex: initial;
      width: 45%;
    }

    &_ml-auto {
      margin-left: auto;
    }

    &:last-child {
      margin-right: 0;
    }

    &_detailts {
      flex: auto;
      max-width: 378px;
    }
  }

  &__col h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: $font-weight-regular;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__col address {
    font-style: normal;
  }

  &__sub-row {
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
    margin-bottom: 44px;
  }

  &__item {
    margin-bottom: 7px;

    .note {
      text-transform: none;
      letter-spacing: normal;
    }
  }

  &__warning {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    @include size(36px);
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.25;
    color: map-get($map:$color, $key:highlight);
    background-color: map-get($map:$bg, $key:warning);
    border-radius: 0 10px 0 10px;
  }
}


@include do($xl) {
  .footer {
    &__warning {
      margin-bottom: 42px;
    }

    p {
      font-size: 14px;
      line-height: 1.28;
    }
  }
}


@include do(1000px) {
  .footer {
    &__warning {
      margin-bottom: 30px;
    }

    &__sub-row {
      display: block;
      margin-bottom: 19px;
    }

    &__col {
      &_flex-initial {
        width: 46.3%;
      }

      &_details {
        width: 195px;
      }
    }

    &__item {
      margin-bottom: 19px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@include do(688px) {
  .footer {
    &__wrapper {
      padding-top: 33px;
      padding-bottom: 39px;
    }

    &__navigation {
      margin-bottom: 40px;
    }

    &__logo {
      position: static;
      margin-bottom: 40px;
    }

    p {
      margin-bottom: 17px;
    }

    &__row {
      display: block;
    }

    &__col {
      max-width: 100%;
      width: 100%;
      margin: 0;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    address {
      max-width: 195px;
    }
  }
}
