.header {
  &__side {
    display: flex;
    align-items: center;
    padding: 25px 0 20px 0;
  }

  &__col {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    &_ml-large {
      margin-left: 53px;
    }

    &_ml-a {
      margin-left: auto;
    }
  }

  &__logo {
    margin-right: 58px;
  }

  &__side a {
    font-size: 17px;
    line-height: 1;
  }

  &__side p {
    margin: 0;

    font-size: 10px;
    line-height: 16px;
    color: map-get($map:$color, $key:remark);
    text-transform: uppercase;
  }
}

@include do($xl) {
  .header {
    &__logo {
      margin-right: 0;
    }
  }
}

@include do($lg) {
  .header {
    &__col {
      margin-right: 60px;

      &_lg-hidden {
        display: none;
      }

      &_ml-large {
        margin-left: 0;
      }

      &_lg-ml-auto {
        margin-left: auto;
      }
    }
  }
}

@include do($sm) {
  .header {
    &__side {
      display: block;
    }

    &__col {
      margin-bottom: 20px;
      margin-right: 0;

      &_sm-pos-a {
        position: absolute;
        top: 40px;
        right: 15px;
      }
    }
  }
}
