.intro {
  background: map-get($map:$bg, $key:primary);

  &__wrapper {
    position: relative;
    display: flex;
    padding-top: 100px;

    height: 678px;
  }

  &__main {
    flex: none;
    width: 480px;
    padding-top: 85px;

    font-size: 16px;
    line-height: 1.5;

    & > p {
      margin: 16px 0;
      color: map-get($map:$color, $key:remark);

      & > .note {
        font-size: inherit;
        line-height: inherit;
      }

      &:first-of-type {
        margin-top: 33px;
      }
    }

    & span {
      color: map-get($map:$color, $key:highlight);
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 28px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: $font-weight-regular;
    color: map-get($map:$color, $key:highlight);

    span {
      font-weight: $font-weight-medium;
      color: map-get($map:$color, $key:focus);
    }
  }

  &__side {
    position: absolute;
    top: 110px;
    right: -10px;
  }
}
