.menu-button {
  position: relative;
  display: block;
  @include size(20px,15px);

  text-decoration: none;
  cursor: pointer;

  span {
    display: block;
  }

  &:focus {
    outline: none;
  }

  &_burger {
    @include do($xl, "min-width") {
      &:hover,
      &.is-hover {
        span {
          background-color: map-get($map:$btn-menu, $key:focus);

          &:nth-child(2) {
            width: 50%;
          }
        }
      }

      &:focus,
      &.is-focus {
        span {
          background-color: map-get($map:$btn-menu, $key:focus);

          &:nth-child(2) {
            width: 50%;
          }
        }
      }
    }

    span {
      position: absolute;
      right: 0;
      @include size(100%, 2px);
      background-color: map-get($map:$btn-menu, $key:default);
      transition: all 0.3s;

      &:first-child {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-child {
        bottom: 0;
      }
    }
  }

  &_close {
    position: absolute;
    top: 40px;
    right: 30px;
    @include size(16px);
    padding: 0;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      @include trbl(0);
      z-index: 150;
    }

    &:active {
      top: 40px; // reset default behavior from mfp-lib
    }

    svg {
      display: block;
      @include size(100%);
    }
  }
}
