.note {
  display: flex;
  align-items: center;
  margin: 0;

  font-size: 12px;
  line-height: 2;
  color: map-get($map:$color, $key:highlight);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  & > span {
    color: inherit;
  }

  &__icon {

    line-height: 1;

    svg {
      transform: translateY(1px);
    }

    &_side-left {
      margin-right: 8px;
    }

    &_side-right {
      margin-left: 8px;
    }

    &_round {
      flex: none;
      @include size(25px);
      border-radius: 50%;
      background-color: rgb(245, 245, 245);

      svg {
        transform: translateY(0);
      }
    }
  }

  &_remark {
    color: map-get($map:$color, $key:remark);
  }

  &_fz-large {
    font-size: 16px;
    line-height: 1.5;
  }

  &_focus {
    color: map-get($map:$color, $key:focus);

    .note__icon svg {
      fill: map-get($map:$color, $key:focus);
    }
  }

  &_dashed {
    span:not(.note__icon) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border: 1px dashed map-get($map:$color, $key:focus);
      }
    }
  }

  &_tt-n {
    text-transform: none;
  }

  &_lts-normal {
    letter-spacing: normal;
  }
}

