@keyframes clouds {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 16, 0, 1);
  }
}

@keyframes pig {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -30, 0, 1);
  }
}

.scene {
  position: relative;

  &__clouds {
    animation: clouds 4s infinite alternate both;
    animation-play-state: running;
  }

  &__pig {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -150px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    animation: pig 4s infinite alternate both;
    animation-play-state: running;
  }
}
