.custom-range-slider {
  background-color: map-get($map:$bg, $key:light);
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.06);

  &__wrapper {
    padding: 33px 0 0;
  }

  &__top {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 13px;
  }

  &__subtitle {
    font-size: 12px;
    line-height: 1;
    color: map-get($map:$slider, $key:subtitle);
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__note {
    display: flex;
    align-items: center;
    margin-left: auto;

    &-icon {
      margin-right: 5px;
    }

    &-total {
      display: flex;
      align-items: center;
      line-height: 1;
      letter-spacing: 0.1em;
    }

    &-total-number {
      flex: none;
      min-width: 85px;
      font-size: 24px;
      padding-right: 4px;
      // font-weight: $font-weight-medium;
      color: map-get($map:$color, $key:highlight);
    }

    &-total-postfix {
      align-self: flex-end;
      font-size: 12px;
      line-height: 1;
      color: map-get($map:$slider, $key:subtitle);
      text-transform: uppercase;
    }
  }

  &__mid {
    padding: 0 15px;
    margin-bottom: 50px;
  }

  &__footer {
    transform: translateY(11px);
  }

  /* Main class */
  .noUi-target {
    background-color: map-get($map:$slider, $key:bar-default);
    border: none;
    box-shadow: none;
    border-radius: 15px;
  }

  .noUi-target.noUi-horizontal {
    height: 6px;
  }

  /* Fill class */
  .noUi-connects {
    border-radius: 15px;
  }

  .noUi-connect {
    background-color: map-get($map:$slider, $key:bar-active);

    &.full {
      background-color: map-get($map:$slider, $key:bar-disabled);
    }
  }

  /* Control */
  .noUi-horizontal .noUi-handle {
    top: -14px;
    transform: translateX(2px); // Modify view
    @include size(38px);
    background: url("../images/control.png") 50% 50% no-repeat;
    background-size: cover;

    /* Remove default styles */
    border: none;
    border-radius: 50px;
    cursor: default;
    box-shadow: none;

    &::before,
    &::after {
      content: none;
    }
  }
  /* Pips */
  .noUi-pips-horizontal {
    padding-top: 9px;
    padding-bottom: 0;
  }

  .noUi-value {
    cursor: pointer;
  }

  /* Numbers under the bar */
  .noUi-value-horizontal {
    font-size: 12px;
    // text-transform: uppercase;
    line-height: 1.5;
    color: $dash-color;

    &:nth-child(3) {
      transform: translate(-24%, 50%);
    }

    &:nth-last-child(2) {
      transform: translate(-77%, 50%);
    }
  }

  /* Value Delimeters */
  .noUi-marker-horizontal.noUi-marker-large {
    height: 7px;
    background-color: $dash-color;

    &:nth-child(2) {
      transform: translateX(-9px);
    }

    &:nth-last-of-type(3) {
      transform: translateX(9px);
    }
  }

  .noUi-marker.noUi-marker-normal {
    display: none;
  }
}
