.button {
  position: relative;

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }

  display: inline-block;
  border: none;
  padding: 0;
  text-decoration: none;
  transition: all 0.3s;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-width: 275px;
    border-radius: 0 10px 0 10px;
    padding: 19px 20px;
    border: 2px solid map-get($map:$btn-primary, $key:bg-default);
    font-size: map-get($map: $button-base, $key:font-size);
    font-weight: map-get($map: $button-base, $key:font-weight);
    line-height: map-get($map: $button-base, $key:line-height);
    text-transform: uppercase;
    color: map-get($map:$btn-primary, $key:color);
    background-color: map-get($map:$btn-primary, $key:bg-default);
    transition: all 0.3s;
    overflow: hidden;
  }

  &__icon {
    position: relative;
    flex: none;
    width: auto;
    margin-left: 10px; // order: 0;
    line-height: 0; // fix excess height
    z-index: 1;
    transition: rotate 0.3s;

    &_right {
      order: 1;
      margin-left: 15px;
      margin-right: 0;
    }

    &_only {
      margin-left: 0;
    }
  }

  &__title {
    min-width: 0;
  }

  &:focus,
  .is-focus {
    outline: none;
  }

  @include do($xl, "min-width") {
    &:hover,
    &.is-hover {
      .button {
        &__content {
          color: map-get($map: $btn-primary, $key:color);
          background-color: map-get($map: $btn-primary, $key:bg-focus);
          border-color: map-get($map: $btn-primary, $key:bg-focus);
        }
      }
    }

    &:focus,
    &.is-focus {
      .button {
        &__content {
          color: map-get($map: $btn-primary, $key:color);
          background-color: map-get($map: $btn-primary, $key:bg-focus);
          border-color: map-get($map: $btn-primary, $key:bg-focus);
        }
      }
    }

    &:active,
    &.is-active {
      .button {
        &__content {
          color: map-get($map: $btn-primary, $key:color);
          background-color: map-get($map: $btn-primary, $key:bg-active);
          border-color: map-get($map: $btn-primary, $key:bg-active);
        }
      }
    }
  }

  &.is-loading {
    opacity: 0.5;
  }

  &:disabled,
  &.is-disabled {
    pointer-events: none;
  }
}

.button_full {
  display: block;
  width: 100%;

  .button__content {
    min-width: auto;
  }
}

.button_rounded {
  border-radius: 0 10px 0 10px;
  overflow: hidden;
}

.button_transparent {
  .button__content {
    border-color: map-get($map:$btn-transparent, $key:border-default);
    background-color: map-get($map:$btn-transparent, $key:bg-default);
    z-index: 1;
  }

  @include do($xl, "min-width") {
    &:hover,
    &.is-hover {
      .button {
        &__content {
          color: map-get($map: $btn-transparent, $key:color);
          background-color: map-get($map: $btn-transparent, $key:bg-default);
          border-color: map-get($map:$btn-transparent, $key:border-focus);
        }
      }
    }

    &:focus,
    &.is-focus {
      .button {
        &__content {
          color: map-get($map: $btn-primary, $key:color);
          background-color: map-get($map: $btn-transparent, $key:bg-default);
          border-color: map-get($map:$btn-transparent, $key:border-focus);
        }
      }
    }

    &:active,
    &.is-active {
      .button {
        &__content {
          color: map-get($map: $btn-primary, $key:color);
          background-color: map-get($map: $btn-transparent, $key:bg-default);
          border-color: map-get($map:$btn-transparent, $key:border-focus);
        }
      }
    }
  }
}
