.d-flex {
  display: flex;
}

.ai-center {
  align-items: center;
}

.td-none {
  text-decoration: none;
}

.td-dashed {
  text-decoration: dashed;
}

.jc-center {
  justify-content: center;
}

.tt-none {
  text-transform: none;
}

