extends ../core/body

include ../components/button
include ../components/customRangeSlider
include ../components/card
include ../functions/inlineSvg

block title
  | Moni 🌟

block scripts
  //- <script src="https://api-maps.yandex.ru/2.1/?apikey=b750eee1-3a58-4691-bd74-8e3e5c3681c1&lang=ru_RU"></script>


block content
  
  section.intro.block
    .intro__bg
    .intro__wrapper.block__wrapper
      .intro__main
        h2.intro__title 
          | Рассчитайте ваше <br>
          span индивидуальное предложение 
        
        +customRangeSlider()

        p Займы от
          span  25 000 руб. 
          |выдаются на срок
          span от 15 до 25 дней
        p Внимание! Услуга обработки заявки платная и составляет 
          a.note.note_focus.note_dashed.note_tt-n.note_lts-normal(href='#') 
            span от 49 до 299 руб.
            
            span.note__icon.note__icon_side-right
              +inlineSvg('icon-question', 16 , 16, '0 0 16 16')

        
      .intro__side
        img.intro__pig(src='images/pig.png', alt='Денежная свинюшка 🐷')
  
  //- section.service.block
    .service__wrapper.block__wrapper
      h1.service__title О сервисе
      .service__row
        .service__col
          p Для получения займа онлайн вам&nbsp;понадобится: 
          ul
            -
              let conditions = [
                {
                  title: 'Паспорт',
                  icon: {
                    name: 'Icons_Passport',
                    width: 29,
                    height: 30,
                    viewBox: '0 0 29 30'
                  },
                  paragraph: 'Вам необходимо явиться гражданином РФ возрастом старше 18 лет'
                },
                {
                  title: 'Телефон',
                  icon: {
                    name: 'Icons_Phone',
                    width: 29,
                    height: 30,
                    viewBox: '0 0 29 30'
                  },
                  paragraph: 'Вам понадобится ввести номер телефона, чтобы с&nbsp;вами могли связаться '
                },
                {
                  title: 'Кредитная карта',
                  icon: {
                    name: 'Icons_Card',
                    width: 29,
                    height: 30,
                    viewBox: '0 0 29 30'
                  },
                  paragraph: 'Вам потребуется карточка с ненулевым балансом'
                },
              ]
            
            each condition in conditions
              - let {title, icon, paragraph} = condition
            
              li 
                h3
                  +inlineSvg(icon.name, icon.width, icon.height, icon.viewBox)
                  span= title
                p !{paragraph}
        .service__col 
          p Займы предоставляются на сумму&nbsp; 
            span от 5 000 до 50 000 рублей
            | включительно на срок от&nbsp;10 до 44 недель.

          h3
            span Соглашения и условия

          p Заполняя анкету на нашем сервисе Вы соглашаетесь с условиями и соглашениями указанными на сайте.

          
          -
            let links1 = [
              {
                title: 'Согласие на обработку ПД'
              },
              {
                title: 'Публичная оферта'
              },
              {
                title: 'Политика обработки ПД'
              },
            ]
          
          each link1 in links1
            - let {title} = link1

            a(href='#').link.d-flex.ai-center
              +inlineSvg('Icons_PDF', 21, 14, '0 0 21 14')
              span= title
        .service__col
          +card()
  
  //- section.contacts.block
    .contacts__wrapper.block__wrapper
      .contacts__main
        #map.contacts__map
        .contacts__row
          .contacts__col.contacts__col_address
            h3.contacts__subtitle Фактический адрес:
            address 656049, г. Барнаул, пр-т. Красноармейский д. 47
          .contacts__col.contacts__col_details
            .contacts__sub-row
              .contacts__item
                h3.contacts__subtitle Тел:
                a.link.td-none(href='tel:+73852229707') 8 (3852) 229-707
              .contacts__item
                h3.contacts__subtitle E-mail:
                a.link.td-none(href='mailto:client@good-zaim.ru') client@good-zaim.ru
            .contacts__item
              .note.note_remark.note_fz-large.tt-none
                .note__icon.d-flex.ai-center.jc-center.note__icon_round.note__icon_side-left
                  +inlineSvg('Icons_Star', 16, 16, '0 0 16 16')
                span Заявки принимаются только на сайте
          .contacts__col.contacts__col_ml-auto
            +button('Рассчитать заём', {
              btnMods: 'contacts__button js-ripple'
            })
      .contacts__side
        p Займы предоставляются на сумму от 5 000 до 50 000 рублей включительно на срок от 10 до 44 недель. Проценты за пользование займом составляют от 173,418 до 287,425 процентов годовых. Расчетная сумма (основной долг и проценты) к возврату от 20 000 до 202 400 рублей. Условия актуальны на 01.05.2017. Пример расчета общей стоимости займа: заём на 15000 руб. и сроком 10 недель; проценты за весь период составят 5000 руб. Итого ПСК 264,392 %. За услуги сервиса может быть взята плата в размере 299р - за активацию сервиса 

        p В случае невозвращения в условленный срок суммы кредита или суммы процентов за пользование заёмными средствами кредитор вынуждено начислит штраф за просрочку платежа. Большинство кредиторов идут на уступки и дают 3 дополнительных рабочих дня для оплаты. Они предусмотрены на случай, к примеру, если банковский перевод занял больше времени, чем обычно. Однако, в случае неполучения от Вас какой-либо реакции в течение продолжительного времени, будет начислен штраф за просрочку срока погашения размером в среднем 0,10% от первоначальной суммы для займов, 0,03% от суммы задолженности в среднем для потребительских кредитов и кредитных карт. При несоблюдении Вами условий по погашению кредитов и займов, данные о Вас могут быть переданы в реестр должников или БКИ, что негативно может сказаться на Вашей кредитной истории и рейтинге кредитоспособности. Рекомендуем Вам вносить платеж в день получения данных напоминаний. Погашая задолженность в срок, Вы формируете хорошую кредитную историю, что повышает Ваш рейтинг кредитоспособности и шансы в дальнейшем получить кредит на более выгодных условиях.