footer.footer.block
  .footer__wrapper.block__wrapper
    

    nav.footer__navigation.navigation.navigation_secondary
      ul.navigation__list
        - 
          var links = [
            {
              title: 'Cпособы получения',
            },
            {
              title: 'О сервисе',
            },
            {
              title: 'Документы',
            },
            {
              title: 'Лучшие предложения',
              star: true 
            },
          ]

        each link in links
          - var {title, star} = link
          li.navigation__item
            a.navigation__link(class= star? 'navigation__link_star': null,href='#', title='#', aria-label='#') !{title}

    .footer__logo.logo.logo_secondary
      +inlineSvg('Icons_Logo', 117, 43, '0 0 117 43')
    
    p Услуги на проекте «hot-zaim.ru» оказываются ИП Стрельчик Е.О. ОРГНИП 317222500001910, ИНН 220802885324, которое действует в интересах и по поручению организации ООО Микрокредитная Компания «Оливин Финанс». Свидетельство о внесении сведений о юридическом лице в государственный реестр микрофинансовых организаций № 001503504007205 Лицензия: 002549 от 25.11.2015, которая на основании ФЗ «О потребительском кредите (займе)» от 21.12.2013 № 353-ФЗ имеет право осуществлять профессиональную деятельность по предоставлению потребительских займов.

    p Проект осуществляет подбор микрозаймов между лицом желающим взять займ, и кредитными учреждениями которые на основании ФЗ «О потребительском кредите (займе)» от 21.12.2013 № 353-ФЗ имеет право осуществлять профессиональную деятельность по предоставлению потребительских займов. Проект не является финансовым учреждением, банком или кредитором, и не несёт ответственности за любые заключенные договоры кредитования или условия. Чтобы оформить заявку на получение займа, Вам необходимо пройти регистрацию и аутентификацию на проекте. Ссылка на документы и разрешительную документацию.

    p Мы являемся операторами персональных данных (
      a(href='#').link Номер 22-17-001694, 28.08.2017 Приказ № 366-нд
      | ).

    p Сервис «hot-zaim.ru» использует куки для предоставления услуг. Условия хранения или доступа к куки Вы можете настроить в своём браузере. Сервис предназначен для лиц старше 18 лет.

    img.footer__img(src='images/partners.png', alt='Организации партнёры нашей организации')

    .footer__row
      .footer__col.footer__col_flex-initial
        h3 Внимание!
        p Услуга обработки заявки является платной и составляет 
          span 299 руб
          |. Услуга далее по сайту — «Активация сервиса». Активация&nbsp;сервиса не гарантирует вам получение займа.

        p Для отключения подписки удалите карты в 
          a(href='#').link 
            span личном&nbsp;кабинете 
          |  сайта.

        strong Заявки принимаются только через форму регистрации на сайте!
      .footer__col.footer__col_details
        .footer__sub-row
          .footer__item
            h3.footer__subtitle Тел:
            a.link.td-none(href='tel:+73852229707') 8 (3852) 229-707
          .footer__item
            h3.footer__subtitle E-mail:
            a.link.td-none(href='mailto:client@good-zaim.ru') client@good-zaim.ru
        .footer__item
          h3.footer__subtitle Почтовый адрес:
          address 656049, г. Барнаул, пр-т. Красноармейский д. 47
      .footer__col.footer__col.footer__col_ml-auto.d-flex 
        .footer__warning 18+